<div class="grid-x grid-padding-x">
	<div class="small-6 cell float-left">
		<span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> On-Hill First Aid</span><br>
		<textarea name="hillFirstAid" id="hillFirstAid" placeholder="On the hill" required></textarea>
	</div>
	<div class="small-6 cell end">
		<span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> Patrol Room First Aid</span><br>
		<textarea name="patrolRoomAid" id="patrolRoomAid" placeholder="In the patrol room" required></textarea>
	</div>
</div>