<fieldset>
	<legend><strong>Probable Injury</strong></legend>
	<div class="grid-x grid-padding-x">
		<div class="small-12 cell">
			<input type="checkbox" name="injury" id="injuryFracture" value="Fracture"><label for="injuryFracture">Fracture</label>
			<input type="checkbox" name="injury" id="injuryPunLac" value="Puncture"><label for="injuryPunLac">Puncture/Laceration</label>
			<input type="checkbox" name="injury" id="injuryAbrasion" value="Abrasion"><label for="injuryAbrasion">Abrasion</label>
			<input type="checkbox" name="injury" id="injuryDislocation" value="Dislocation"><label for="injuryDislocation">Dislocation</label>
			<input type="checkbox" name="injury" id="injurySprain" value="Sprain"><label for="injurySprain">Sprain/Strain</label>
			<input type="checkbox" name="injury" id="injuryBruise" value="Bruise"><label for="injuryBruise">Bruise/Contusion</label>
			<input type="checkbox" name="injury" id="injuryConcussion" value="Concussion"><label for="injuryConcussion">Concussion</label>
			<input type="checkbox" name="injury" id="injuryFrostbite" value="Frostbite"><label for="injuryFrostbite">Frostbite</label>
			<input type="checkbox" name="injury" id="injuryMultiple" value="Multiple"><label for="injuryMultiple">Multiple</label>
			<input type="checkbox" name="injury" id="injuryOther" value="Other"><label for="injuryOther">Other:</label>
			<input name="injuryOther" id="injuryTypeOther" type="text" placeholder="Other">
		</div>
	</div>
</fieldset>
<br>
<fieldset>
	<legend><strong>Injury Zone</strong></legend>
	<div class="grid-x grid-padding-x">
		<div class="small-12 cell">
			<input type="checkbox" id="injLeft" name="injuryLoc" value="Left"><label for="injLeft">Left</label>
			<input type="checkbox" id="injRight" name="injuryLoc" value="Right"><label for="injRight">Right</label>
			<input type="checkbox" id="injBothLR" name="injuryLoc" value="Both"><label for="injBothLR">Both Left/Right</label>
			<input type="checkbox" id="injMultiple" name="injuryLoc" value="Multiple"><label for="injMultiple">Multiple</label>
			<input type="checkbox" id="injUpLeg" name="injuryLoc" value="UpperLeg"><label for="injUpLeg">Upper Leg</label>
			<input type="checkbox" id="injLowLeg" name="injuryLoc" value="LowerLeg"><label for="injLowLeg">Lower Leg</label>
			<input type="checkbox" id="injKnee" name="injuryLoc" value="Knee"><label for="injKnee">Knee</label>
			<input type="checkbox" id="injAnkle" name="injuryLoc" value="Ankle"><label for="injAnkle">Ankle</label>
			<input type="checkbox" id="injFoot" name="injuryLoc" value="Foot"><label for="injFoot">Foot</label>
			<input type="checkbox" id="injHip" name="injuryLoc" value="Hip"><label for="injHip">Hip</label>
			<input type="checkbox" id="injAbdomen" name="injuryLoc" value="Abdomen"><label for="injAbdomen">Abdomen</label>
			<input type="checkbox" id="injChest" name="injuryLoc" value="Chest"><label for="injChest">Chest</label>
			<input type="checkbox" id="injBack" name="injuryLoc" value="Back"><label for="injBack">Back</label>
			<br>
			<input type="checkbox" id="injNeck" name="injuryLoc" value="Neck"><label for="injNeck">Neck</label>
			<input type="checkbox" id="injShoulder" name="injuryLoc" value="Shoulder"><label for="injShoulder">Shoulder</label>
			<input type="checkbox" id="injArm" name="injuryLoc" value="Arm"><label for="injArm">Arm</label>
			<input type="checkbox" id="injWrist" name="injuryLoc" value="Wrist"><label for="injWrist">Wrist</label>
			<input type="checkbox" id="injHand" name="injuryLoc" value="Hand"><label for="injHand">Hand</label>
			<input type="checkbox" id="injThumb" name="injuryLoc" value="Thumb"><label for="injThumb">Thumb</label>
			<input type="checkbox" id="injHead" name="injuryLoc" value="Head"><label for="injHead">Head</label>
			<input type="checkbox" id="injFace" name="injuryLoc" value="Face"><label for="injFace">Face</label>
			<input type="checkbox" id="injEye" name="injuryLoc" value="Eye"><label for="injEye">Eye</label>
			<input type="checkbox" id="injNose" name="injuryLoc" value="Nose"><label for="injNose">Nose</label>
			<input type="checkbox" id="injMouth" name="injuryLoc" value="Mouth"><label for="injMouth">Mouth</label>
			<input type="checkbox" id="injTeeth" name="injuryLoc" value="Teeth"><label for="injTeeth">Teeth</label>
			<input type="checkbox" id="injInternal" name="injuryLoc" value="Internal"><label for="injInternal">Internal</label>
			<input type="checkbox" id="injOther" name="injuryLoc" value="Other"><label for="injOther">Other:</label>
			<input name="injuryLocOther" id="injuryZoneOther" type="text" placeholder="Other">
		</div>
	</div>
</fieldset>