<fieldset>
	<legend><strong>Location</strong></legend>
	<div class="grid-x grid-padding-x">
		<div class="small-3 cell">
			<span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> Incident Location</span><br>
			<input name="location" id="locationLift" value="Lift" type="radio" required><label expand-labelfor="locationLift">Lift</label>
			<input name="location" id="locationHill" value="Hill" type="radio" required><label expand-labelfor="locationHill">Hill</label>
			<input name="location" id="locationPremise" value="Premise" type="radio" required><label expand-labelfor="locationPremise">Premise</label>
		</div>
		<div class="small-2 cell" id="lifts">
			<span class="label expand-label"> Choose</span><br>
			<select size="1" class="select" name="whichLift" id="whichLift">
				<option value="" disabled selected>CHOOSE LIFT</option>
			</select>
		</div>
		<div class="small-2 cell" id="hills">
			<span class="label expand-label"> Choose</span><br>
			<select size="1" class="select" name="whichHill" id="whichHill">
				<option value="" disabled selected>CHOOSE HILL</option>
			</select>
		</div>
		<div class="small-5 cell end">
			<span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> Specific Location</span><br>
			<textarea name="specificLocation" id="specificLocation" placeholder="Describe specific location" required></textarea>
		</div>
		<input id="hillLift" name="hillLift" type="hidden">
		<input id="difficulty" name="difficulty" type="hidden">
	</div>
</fieldset>
<fieldset>
	<legend><strong>Skiing History</strong></legend>
	<div class="grid-x grid-padding-x">
		<div class="small-4 cell">
			<span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> Ability</span><br>
			<input name="ability" id="abilityBeginner" value="Beginner" type="radio" required><label expand-labelfor="abilityBeginner">Beginner</label>
			<input name="ability" id="abilityIntermediate" value="Intermediate" type="radio" required><label expand-labelfor="abilityIntermediate">Intermediate</label>
			<input name="ability" id="abilityExpert" value="Expert" type="radio" required><label expand-labelfor="abilityExpert">Expert</label>
			<input name="ability" id="abilityNA" value="N/A" type="radio" required><label expand-labelfor="abilityNA">N/A</label>
		</div>
		<div class="small-2 cell">
			<span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> In Lesson?</span><br>
			<input name="inLesson" id="lessonYes" value="Yes" type="radio" required><label expand-labelfor="lessonYes">Yes</label>
			<input name="inLesson" id="lessonNo" value="No" type="radio" required><label expand-labelfor="lessonNo">No</label>
		</div>
		<div class="small-6 cell" id="instYes">
			<span class="label expand-label"> Instructor</span><br>
			<input name="instructor" id="instructor" type="text" placeholder="Instructor name">
		</div>
	</div>
	<div class="grid-x grid-padding-x">
		<div class="small-3 cell">
			<span class="label expand-label"> Number of times on?</span><br>
			<input name="numTimes" id="timesHill" value="Hill" type="radio"><label expand-labelfor="timesHill">Hill</label>
			<input name="numTimes" id="timesLift" value="Lift" type="radio"><label expand-labelfor="timesLift">Lift</label>
			<input name="numTimes" id="timesOther" value="Other" type="radio"><label expand-labelfor="timesOther">Other</label>
		</div>
		<div class="small-3 cell" id="otherNum">
			<span class="label expand-label"> Where?</span><br>
			<input name="numOther" id="numOther" placeholder="Other Location?" type="text">
		</div>
		<div class="small-1 cell">
			<span class="label expand-label"> Today</span><br>
			<input type="number" min="0" max="20" step="1" name="qtyTimesToday" id="numTimesToday">
		</div>
		<div class="small-1 cell">
			<span class="label expand-label"> Prior</span><br>
			<input name="qtyTimesPrior" id="numTimesPrior" type="number" min="0" max="20" step="1">
		</div>
		<div class="small-4 cell end">
			<span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> Equipment Removed By:</span><br>
			<input name="equipmentRemoval" id="removeFall" value="Fall" type="radio" required class="exposer"><label expand-labelfor="removeFall">Fall</label>
			<input name="equipmentRemoval" id="removeInjured" value="Injured" type="radio" required class="exposer"><label expand-labelfor="removeInjured">Injured</label>
			<input name="equipmentRemoval" id="removePatrol" value="Patrol" type="radio" required class="exposer"><label expand-labelfor="removePatrol">Patrol</label>
			<input name="equipmentRemoval" id="removeOther" value="Other" type="radio" required class="exposer"><label expand-labelfor="removeOther">Other</label>
		</div>
	</div>
</fieldset>