<fieldset id="witnesses">
	<legend><strong>Witnesses</strong></legend>
	<div class="grid-x grid-padding-x">
		<div class="small-12 cell">
			<span class="large button success" id="addWitness">Add Witness</span>
			<br>
		</div>
	</div>
</fieldset>
<br>
<fieldset id="completer">
	<legend><strong>Report Completion</strong></legend>
	<div class="grid-x grid-padding-x">
		<div class="small-4 cell" id="reportCompleter">
			<span class="label expand-label">Report Completer</span><br>
		</div>
		<div class="small-3 cell end">
			<span class="label expand-label">Date Completed:</span><br>
			<input name="dateComplete" id="dateComplete" type="text">
		</div>
	</div>
</fieldset>