<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NNSP Snowboard Rental Form</title>
        <link href="../css/hb_result.css" rel="stylesheet">
    </head>
    <body>
        <div class="grid-x grid-padding-x height-3">
            <div class="col-20">
                <span class="textCenter center h4">NUB'S NOB POST INCIDENT EQUIPMENT INSPECTION REPORT:</span><br>
                <br><span class="textCenter center h4">SNOWBOARDS & OTHER NON-RELEASABLE EQUIPMENT</span>
            </div>
        </div>
        <br>
        <div class="grid-x grid-padding-x-noBorder height-1">
            <div class="col-3">
                <span class="middle">DATE:</span>
            </div>
            <div class="col-3">
                <span class="middle" id="date"></span>
            </div>
            <div class="col-3">
                <span class="middle">DAY OF WEEK:</span>
            </div>
            <div class="col-3">
                <span class="middle" id="day"></span>
            </div>
            <div class="col-3">
                <span class="middle">TIME OF INCIDENT:</span>
            </div>
            <div class="col-3">
                <span class="middle" id="incidentTime"></span>
            </div>
        </div>
        <br>

        <!-- SCRIPTS -->
        <script src="../scripts/result.js"></script>
    </body>
</html>
