<div class="grid-x grid-padding-x">
    <div class="small-4 cell">
        <span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> How arrived patrol room?</span><br>
        <input type="radio" name="arrival" id="arrivalPatrol" value="SkiPatrol" required><label for="arrivalPatrol">Patrol/Toboggan</label>
        <input type="radio" name="arrival" id="arrivalWalk" value="WalkIn" required><label for="arrivalWalk">Walk-in</label>
        <input type="radio" name="arrival" id="arrivalOther" value="Other" required><label for="arrivalOther">Other:</label>
    </div>
    <div class="small-8 cell">
        <span class="label expand-label">Other</span><br>
        <input name="arriveOther" id="arriveOther" type="text" placeholder="Other">
    </div>
</div>
<div class="grid-x grid-padding-x">
    <div class="small-4 cell ">
        <span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> How left patrol room?</span><br>
        <input type="radio" name="leave" id="leaveAmb" value="Ambulance" required><label for="leaveAmb">Ambulance</label>
        <input type="radio" name="leave" id="leaveCar" value="Car" required><label for="leaveCar">Car/Bus</label>
        <input type="radio" name="leave" id="leaveWalk" value="Walk" required><label for="leaveWalk">Walking Out</label>
    </div>
    <div class="small-4 cell" id="destination">
        <span class="label expand-label warning"><i class="fas fa-exclamation-triangle"></i> Destination?</span><br>
        <input type="radio" name="dest" id="destHome" value="Home" required><label for="destHome">Home</label>
        <input type="radio" name="dest" id="destLodge" value="Lodge" required><label for="destLodge">Lodge</label>
        <input type="radio" name="dest" id="destReturn" value="ReturnSkiing" required><label for="destReturn">Return Skiing</label>
        <input type="radio" name="dest" id="destOther" value="Other" required><label for="destOther">Other:</label>
    </div>
    <div class="small-4 cell">
        <span class="label expand-label">Destination Other:</span><br>
        <input name="otherDest" id="otherDest" type="text" placeholder="Destination Other">
    </div>
</div>