@mixin border-radius($value) {
     border-radius: $value;
}

@mixin font-size($value) {
     font-size: $value;
}

.vertical-center {
  min-height: 20px;
  margin-top:4px;
  margin-bottom: 4px;
}

.glow:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.1s ease-in;
  box-shadow: 0 0 10px 0 rgba(23,121,186,0.67);
}

.border {
  border: thin solid #000000;
}

.black {
  //background-color: rgb(23,121,186);
  background-color: #000000;
  color: white;
}

.expand-label {
  width: 100%;
}

.expander {
  height: 30px;
  background-color: #bfbfbf;
}

.expanderFont {
  font-size: 22px;
}

.fa-minus:hover {
  //font-size: 24px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  color: rgb(23,121,186);
}

.fa-plus:hover {
  //font-size: 24px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  color: rgb(23,121,186);
}

@media print {
  form {
    display: none !important;
  }

  #topMast {
    display: none !important;
  }

  #noPrint {
    display: block !important;
  }

  #noPrint h1 {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #warnPic {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}